@media (min-width: 1024px) {
    .header__menu {
        display: none;
    }
}
/* tablet and mobile */
@media (max-width: 1032px) {
    .text__btn {
        padding: 1.6rem 2rem;
    }
    .form-control {
        padding: 15px;
    }
    .icon a {
        margin: 0 8px;
    }
    .copyWrite a {
        padding: 12px 0;
        display: inline-block;
    }
    .Contact__info p {
        line-height: 2;
    }
}
@media (min-width: 740px) and (max-width: 1023px) {
    .header__menu {
        display: none;
    }
}

@media (max-width: 739px) {
    .s-full-width {
        width: 100%;
    }
    .header {
        overflow: hidden;
    }
    .header__nav {
        width: 100%;
    }
    .header__search {
        display: none;
    }
    .menu__item {
        display: block;
    }
    .menu__item--subMenu {
        position: initial;
        background-color: #333;
    }
    .menu__item--subMenu a {
        color: #fff;
        padding: 0.8rem 4.2rem;
    }
    .About__layout--item {
        width: 100%;
        margin-top: 31px;
    }
    .About__layout--item img {
        max-width: 60%;
    }
    .s-col-full {
        width: 100%;
        margin-top: 15px;
    }
}
