/** @format */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
    line-height: 1.5;
}
body {
    width: 100vw;
    height: 100vh;
}
.color__white {
    color: white !important;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half {
    width: 50%;
}
.col-full {
    width: 100%;
}
.mt-8 {
    margin-top: 8px;
}
.mt-16 {
    margin-top: 16px;
}
.clear {
    clear: both;
}
/* Begin header */
.header {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;
    height: 4.6rem;
    background-color: black;
    justify-content: space-between;
}
.header ul {
    list-style-type: none;
}
.menu__item {
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.menu__item > a,
.header__search,
.header__menu {
    color: white;
    text-transform: uppercase;
}
.menu__item a,
.header__search,
.header__menu {
    display: block;
    font-size: 1.6rem;
    height: 4.6rem;
    line-height: 4.6rem;
    text-decoration: none;
    padding: 0 2.4rem;
}
.header__nav li:hover > a,
.header__menu:hover {
    background-color: #ccc;
    color: black;
}
.header__nav li:hover .menu__item--subMenu {
    display: block;
}
.menu__item i {
    font-size: 1.3rem;
}
.menu__item--subMenu {
    display: none;
    position: absolute;
    min-width: 16rem;
    background-color: white;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}
.menu__item--subMenu a {
    color: black;
    text-align: left;
    padding: 0.8rem 1.6rem;
    line-height: 1.5;
}
.header__search:hover {
    background-color: red;
    cursor: pointer;
}
.menu__item:first-child {
    display: inline-block;
}
/* End header */

/* Begin Slider */

.Slider {
    position: relative;
    width: 100%;
    height: 50vw;
    animation-name: Slider;
    animation-duration: 10s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 4.6rem;
}
@keyframes Slider {
    0% {
        background-image: url("https://www.w3schools.com/w3images/chicago.jpg");
    }
    33% {
        background-image: url("https://www.w3schools.com/w3images/la.jpg");
    }
    66% {
        background-image: url("https://www.w3schools.com/w3images/ny.jpg");
    }
}
.Slider__text {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    margin-bottom: 4.2rem;
}
.Slider__tittle {
    font-size: 2.4rem;
    font-weight: 400;
    margin: 1rem 0;
    text-shadow: 0 0 1px #000;
}
.Slider__subTittle {
    font-size: 1.5rem;
    font-weight: bolder;
    text-shadow: 0 0 1px #000;
}
/* End__Slider */
.About,
.Tour,
.Contact {
    padding: 6.4rem 1.6rem 11.2rem;
    margin: 0 auto;
    max-width: 80rem;
}
.About__heading,
.Tour__heading,
.Contact__heading {
    text-align: center;
}
.About__heading h2,
.Tour__heading h2,
.Contact__heading h2 {
    letter-spacing: 4px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 30px;
}
.About__text {
    font-size: 15px;
    margin: 15px 0;
    text-align: justify;
}
.About__heading p,
.Tour__heading p,
.Contact__heading p {
    opacity: 0.6;
    font-style: italic;
    font-size: 15px;
    margin: 15px 0;
}
.About__layout {
    margin-top: 48px;
    text-align: center;
}
.About__layout--item {
    float: left;
    width: 33.33333%;
}
.About__layout--item p {
    font-size: 15px;
}
.About__layout--item img {
    border-radius: 4px;
    margin-top: 15px;
    max-width: 154px;
}

.Tour__soldout {
    background-color: #fff;
}
.Tour__list li {
    padding: 8px 16px;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style-type: none;
}
.Tour__quality {
    float: right;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    background-color: black;
    color: white;
    margin-right: 16px;
}
.soldout {
    background-color: red;
    padding: 2px 4px;
    color: white;
    margin-left: 16px;
}

.Tour__places {
    margin: 3.2rem -8px 0;
}
.Tour__item {
    float: left;
    width: 33.33333%;
    padding: 0 8px;
}
.Tour__item--img {
    width: 100%;
    display: block;
}
.Tour__item--img:hover {
    opacity: 0.6;
}
.Tour__item--text {
    background-color: white;
    font-size: 15px;
    padding: 16px;
}
.text__tittle {
    font-size: 16px;
    font-weight: 600;
}
.text__time {
    opacity: 0.6;
    margin-top: 15px;
}
.text__description {
    margin-top: 15px;
}
.text__btn {
    margin-top: 15px;
    padding: 1.2rem 2rem;
    background-color: black;
    color: white;
    outline: none;
    border: 0;
}
.text__btn:hover {
    background-color: #ccc;
    color: black;
    cursor: pointer;
}
.Contact__body {
    margin-top: 4.6rem;
    font-size: 18px;
}
.Contact__body::after {
    content: "";
    display: block;
    clear: both;
}
.Contact__info {
    width: 50%;
    float: left;
}
.Contact__info i {
    float: left;
    width: 30px;
    line-height: 1.5;
}
.Contact__info a {
    opacity: 0.6;
}
.Contact__info a:hover {
    opacity: 1;
}
/* ====================================================== */
.contact__form {
    font-size: 15px;
}
.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.contact__form button {
    background-color: #000;
    color: #fff;
    float: right;
    border: 1px solid #ccc;
    padding: 10px 16px;
    cursor: pointer;
}
.contact__form button:hover {
    background-color: #ccc;
    color: #000;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}
.map {
    width: 100%;
}
.icon a {
    color: rgba(0, 0, 0, 0.6);
    font-size: 2.5rem;
}
.icon a:hover {
    color: rgba(0, 0, 0, 0.4);
}
.Footer {
    padding: 64px 16px;
    text-align: center;
}
.copyWrite {
    color: rgba(0, 0, 0, 0.6);
    margin-top: 15px;
    font-size: 1.5rem;
}
.copyWrite a {
    color: rgba(0, 0, 0, 0.6);
}
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    animation: modal 0.25s ease;
}
.modal__container {
    width: 90rem;
    max-width: calc(100% - 50px);
    background-color: #fff;
    position: relative;
    font-size: 15px;
    line-height: 22.5px;
    transform: translateY(-13px);
}
.modal__close {
    position: absolute;
    right: 0;
    font-size: 20px;
    padding: 10px;
}
.modal__close:hover {
    background-color: #ccc;
    color: black;
}
.modal__heading {
    background-color: #009688;
    text-align: center;
    padding: 40px 16px;
    line-height: 45px;
    color: white;
    font-size: 30px;
    letter-spacing: 4px;
}
.modal__body {
    padding: 10px;
}
.modal__body input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}
.modal__body label {
    display: inline-block;
    margin: 15px 0;
}
.modal__body button {
    margin: 10px 0;
    width: 100%;
    padding: 14px;
    background-color: #009688;
    color: white;
    margin-top: 15px;
}
.modal__body button:hover {
    background-color: #ccc;
    color: #000;
}
.modal__footer {
    padding: 10px;
    text-align: right;
    margin-bottom: 20px;
}
.modal__footer a {
    color: #2899f3;
}
.modal.open {
    display: flex;
}
@keyframes modal {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
